* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #138BF2;
    font-family: Tahoma, Arial;
}
.container {
    width: 800px;
    max-width: 100%;
    min-height: 70vh;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 6px;
}
.container.has-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .not-row {
        flex-direction: column;
        align-items: flex-start;
    }
}
.title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
    text-transform: capitalize;
    color: #222;
}
.select-box {
    position: relative;
}
@media screen and (max-width: 767px) {
    .select-box {
        margin-top: 20px;
    }
}
.select-lang {
    width: 120px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #222;
    border-radius: 6px;
    text-transform: capitalize;
    appearance: none;
}
.select-lang:focus {
    outline: none;
}
.select-box .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 14px;
    color: #222;
}
.container h4 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    color: #222;
}
.btn {
    padding: 15px;
    margin-top: 25px;
    border: none;
    background: #138BF2;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}
.quetion-title {
    margin: 20px 0;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #222;
}
.quiz-form label {
    position: relative;
    padding: 15px 15px 15px 50px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #E7E9EB;
    line-height: 1.6;
    color: #222;
    cursor: pointer;
}
.quiz-form label:hover {
    background-color: #ddd;
}
.quiz-form label input {
    display: none;
}
.quiz-form label .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
.quiz-form label input:checked + .checkmark {
    border: 6px solid #138BF2;
}
.disabled {
    opacity: .7;
    pointer-events: none;
}
.result {
    text-align: center;
    letter-spacing: 1px;
    color: #222;
}
